
* {
    box-sizing: border-box;
}
.LoginBody {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0 10px;
}
.card-body {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    margin: 19vh auto;
    max-width: 650px;
}
.textFieldMargin {
    padding: 6px 10px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.buttonsBlock {
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin: 15px 0 0 0;
}
.ion-content-style{
    text-align: center;
}
.MuiInputLabel-formControl {
    top: 10px !important; 
    left: 10px !important;
}
.logo-icon{
    width: 120px;
    padding: 10px 0 0;
}