.fillClickRowContainer {
    display: inline-block;
    width: 100%;
}
.fillClickRowEle{
    display:inline-block;
    width: 100%;
    max-width: 50%;
}
.gapClickUI{
    width: auto;
    min-width: 70px;
    text-align: center;
    float: none;
    margin: 0 0 0 40px;
}
.gapClickUI.is-active {
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5)
}
.gapClickOption {
    background: teal;
    color: #fff;
    text-align: center;
}

.gapClickOption > * {
    color:  #fff !important;
}
.fillGapsClickOptionsContainer {
    display: inline-block;
    width: 100%;
    padding: 10px;
    min-height: 60px;
    background: #eee;
}

.fillGapsWholeContainer {
    display: inline-block;
    width: 100%;
    text-align: left;
    padding: 10px;
}
.fillClickRowContainer {
    display: inline-block;
    width: 100%;
    padding: 10px;
}
.hideOption {
    display: none;
}
.commonContent {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.gapClickUI.ans-right {
    border: 2px solid lawngreen;
}
.gapClickUI.ans-wrong {
    border: 2px solid red;
}
.disabled {
    user-select: none;
    pointer-events: none;
}
.fillGapsClickOptionsContainer.disabled {
    opacity: 0.5;
}
.buttons-container {
    display: inline-block;
    width: 100%;
    padding: 15px;
    text-align: right;
}